---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article>
    <h1>Index overskrift</h1>
    <Button>KNAPPELADE</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </article>
</MainLayout>
<section class="flex flex-col gap-3 p-6">
  <!---------------------------------- Øvelse 1------------------------------------>
  <div>
    <h2 class="mt-6 text-2xl uppercase font-semibold bg-red-200">Øvelse 1</h2>
    <Button>KNAPPELADE</Button>
  </div>
  <!---------------------------------- Øvelse 2------------------------------------>
  <div>
    <h2 class="mt-6 text-2xl uppercase font-semibold bg-blue-200">Øvelse 2</h2>
    <div class="flex gap-4 place-items-center">
      <Button variant="primary" size="small">Small</Button>
      <Button variant="primary" size="medium">Medium</Button>
      <Button variant="primary" size="large">Large</Button>
    </div>
    <div class="flex gap-4 place-items-center">
      <Button variant="secondary" size="small">Small</Button>
      <Button variant="secondary" size="medium">Medium</Button>
      <Button variant="secondary" size="large">Large</Button>
    </div>
  </div>
  <!---------------------------------- Øvelse 3------------------------------------>
  <div>
    <h2 class="mt-6 text-2xl uppercase font-semibold bg-yellow-200">
      Øvelse 3
    </h2>
    <div>
      <h2>Køb bogen</h2>
      <form id="form">
        <div>
          <label for="quantity">Antal:</label>
          <input type="number" id="quantity" name="quantity" min="1" />
        </div>
        <div>
          <input type="radio" id="postnord" name="forsendelse" />
          <label for="postnord">PostNord</label>
          <input type="radio" id="afhent" name="forsendelse" />
          <label for="afhent">Afhent selv</label><br />
        </div>
        <div>
          <label for="text">Nnavn:</label>
          <input type="text" value="Anders And" />
        </div>
        <div>
          <label for="text">Adresse:</label>
          <input type="text" value="Paradisæblevej 8" />
        </div>
        <div>
          <label for="email">E-mail:</label>
          <input type="email" value="anders@andeby.dk" />
        </div>
        <div>
          <label for="text">Postnummer & by:</label>
          <input type="text" value="0900" />
          <input type="text" value="Andeby C" />
        </div>
        <div>
          <label for="tel">Telefon:</label>
          <input type="tel" value="555-555" />
        </div>
      </form>
      <input type="checkbox" />
      <label for="checkbox">Ja tak til nyhedsbreve og tilbud</label>
    </div>
    <Button type="submit" form="form">Til betaling</Button>
  </div>
  <!---------------------------------- Øvelse 4------------------------------------>
  <div>
    <h2 class="mt-6 text-2xl uppercase font-semibold bg-green-200">Øvelse 4</h2>
  </div>
</section>
