---

---

<div>
  <button
    class="font-montserrat font-bold color- text-white bg-orange-400 rounded-2xl py-2 px-6
    shadow-[0px_2px_4px_rgba(0,0,0,0.2)] m-1 transition duration-600 ease-in-out hover:bg-white hover:text-black hover:outline-2 hover:scale-98 hover:shadow-[0px_2px_4px_rgba(0,0,0,0.6)]
    focus:bg-sky-600 focus:scale-98 focus"
    ><slot />
  </button>
</div>
