---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import text from "../components/Text.astro";
---

<header
  x-data="{ showmenu: false }"
  class="bg-primary-500 shadow-xl/30 intersect:animate-flip-down sticky"
>
  <div
    id="navbar"
    class="container mx-auto p-6 flex flex-row justify-between items-center"
  >
    <div id="logo" class="">
      <a
        href="#"
        class="font-display font-bold text-3xl text-white uppercase intersect:animate-fade intersect:animate-duration-500 intersect:animate-delay-300"
      >
        Nicolai Schou
      </a>
    </div>

    <nav
      id="desktopmenu"
      class="hidden lg:block text-white font-display text-l font-bold"
    >
      <ul class="flex flex-row gap-4">
        <li
          class="intersect:animate-fade intersect:animate-duration-500 intersect:animate-delay-400"
        >
          <a href="/" class={currentPath === "" ? "font-bold" : ""}>Forside</a>
        </li>
        <li
          class="intersect:animate-fade intersect:animate-duration-500 intersect:animate-delay-500"
        >
          <a
            href="/komponentbibliotek/"
            class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}
          >
            Komponentbibliotek
          </a>
        </li>
        <li
          class="intersect:animate-fade intersect:animate-duration-500 intersect:animate-delay-600"
        >
          <a
            href="/oevelser/"
            class={currentPath === "oevelser/" ? "font-bold" : ""}>Øvelser</a
          >
        </li>
      </ul>
    </nav>

    <button
      id="burgermenu"
      class="lg:hidden text-white font-display font-bold intersect:animate-fade intersect:animate-duration-500 intersect:animate-delay-500"
      x-on:click="showmenu = ! showmenu"
    >
      Menu
    </button>
  </div>

  <!-- Mobile menu with in/out animations -->
  <nav
    id="mobilmenu"
    class="flex flex-col content-center p-6
    intersect:animate-fade-down intersect-out:animate-fade-up intersect:animate-duration-500 intersect-out:animate-duration-500"
    x-show="showmenu"
    x-transition=""
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="text-white font-display font-bold">
      <li class="text-center py-2">
        <a href="/" class={currentPath === "" ? "font-bold" : ""}>Forside</a>
      </li>
      <li class="text-center py-2">
        <a
          href="/komponentbibliotek/"
          class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}
        >
          Komponentbibliotek
        </a>
      </li>
      <li class="text-center py-2">
        <a
          href="/oevelser/"
          class={currentPath === "oevelser/" ? "font-bold" : ""}>Øvelser</a
        >
      </li>
    </ul>
  </nav>
</header>
