---
import me2 from "../assets/images/mig.png";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import List from "../components/List.astro";
---

<section class="flex flex-col items-start gap-8 sm:px-6 md:px-30 lg:px-[20vw]">
  <!-- Top image / white box -->
  <div class="bg-white shadow-lg rounded-4xl p-10 inline-block">
    <Image src={me2} alt="" class="rounded-4xl mb-20 place-self-center" />
    <!-- Heading -->
    <Heading htmlheading="h2" size="medium" font="display" color="dark">
      Om mig
    </Heading>
    <div class="mb-6">
      <Text teksttype="brødtekst" stylingclasses="intersect:animate-fade-right">
        Jeg studerer multimediedesign og har en stor interesse for digitalt
        design, brugeroplevelser og visuel identitet. Jeg kan godt lide at
        arbejde i krydsfeltet mellem design og kode, hvor jeg især har erfaring
        med HTML, CSS og JavaScript. Jeg arbejder meget med at lave enkle,
        responsive webløsninger og brugerflader, der fungerer godt for folk i
        praksis.
      </Text>
      <Text teksttype="brødtekst" stylingclasses="intersect:animate-fade-right">
        Udover design har jeg en kreativ baggrund inden for musik, hvor jeg i
        over 8 år har produceret og arbejdet med lyd. Den erfaring har givet mig
        et godt øje for detaljer og æstetik, som jeg også tager med ind i mit
        visuelle arbejde. Jeg bruger især Illustrator og Figma til grafiske
        elementer, visuelle udtryk og UI-design, men har også erfaring med
        Photoshop samt lidt video i Premiere Pro/After Effects.
      </Text>
      <Text teksttype="brødtekst" stylingclasses="intersect:animate-fade-right">
        Som multimediedesigner motiveres jeg af at skabe løsninger, der både ser
        godt ud, fungerer teknisk og bygger på research, så brugeren altid får
        en god oplevelse.
      </Text>
    </div>
    <div class="intersect:animate-flip-up">
      <Link
        href="https://www.kea.dk"
        target="_blank"
        variant="primary"
        size="large"
      >
        Kontakt mig
      </Link>
    </div>
  </div>

  <!-- Black box / kompetencer -->
  <div
    class="bg-black rounded-4xl p-10 inline-block opacity-0 intersect:opacity-100 transition-opacity intersect:animate-fade-up"
  >
    <div class="flex flex-row items-center gap-2">
      <img src="https://placehold.co/60x80" alt="" class="flex-shrink-0" />
      <Heading htmlheading="h2" size="clamp" font="display" color="white">
        MINE KOMPETENCER.
      </Heading>
    </div>

    <div class="flex flex-col p-5 gap-2">
      <List
        kategori="Webudvikling og moderne teknologier"
        skills={[
          "HTML",
          "CSS",
          "JavaScript",
          "Astro",
          "Tailwind",
          "NPM",
          "Netlify",
          "Supabase",
          "GitHub",
        ]}
        teksttype="hvid_konsulativ"
        dotColor="text-primary-500 pr-2"
      />

      <List
        kategori="Design og prototyping"
        skills={["Figma", "Adobe Illustrator"]}
        teksttype="hvid_konsulativ"
        dotColor="text-secondary-500 pr-2"
      />

      <List
        kategori="Musikproduktion og lydteknik"
        skills={[
          "FL Studio",
          "Ableton",
          "Audio Engineering (mixing og mastering)",
        ]}
        teksttype="hvid_konsulativ"
        dotColor="text-dot3-500 pr-2"
      />
      <List
        kategori="3D-modellering og animation"
        skills={["Fusion 360", "Blender"]}
        teksttype="hvid_konsulativ"
        dotColor="text-dot4-500 pr-2"
      />
      <List
        kategori="Video- og filmproduktion"
        skills={[
          "DaVinci Resolve",
          "Adobe Premiere Pro",
          "Adobe After Effects",
        ]}
        teksttype="hvid_konsulativ"
        dotColor="text-dot5-500 pr-2"
      />
      <List
        kategori="Fotoredigering og billedbehandling"
        skills={["Adobe Photoshop", "Adobe Lightroom"]}
        teksttype="hvid_konsulativ"
        dotColor="text-dot6-500 pr-2"
      />
    </div>
  </div>
</section>
