---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  konsultativ: "text-sm text-italic font-sans",
  brødtekst: "text-xl my-10 font-sans ",
  hvid_konsulativ:
    "text-xl text-italic font-sans my-4 text-white uppercase font-display",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
